node_modules
coverage

# IntelliJ/WebStorm
.idea/*.iml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*.xml
.idea/typescript-compiler.xml

tests/*.js
tests/*.js.mappackage-lock.json
!tests/jest.setup.*

package-lock.json
build/
dist/
types/
.awcache/
lib/
bin/
src/**/*.js
yarn-error.log
doc
doc/
.prev.scrmd5
.scrmd5
