.layout {
    .button {
        &#tstest {
            background-color: darkolivegreen;
        }

        &#tsevent {
            background-color: cornflowerblue;
            color: white;
        }

        &#tsexception {
            background-color: orangered;
            color: white;
        }

    }
}
